@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --principale-50: oklch(98.687% 0.01171 145.932);
  --principale-100: oklch(91.846% 0.06887 144.579);
  --principale-200: oklch(84.179% 0.06887 144.579);
  --principale-300: oklch(76.512% 0.06887 144.579);
  --principale-400: oklch(68.845% 0.06887 144.579);
  --principale-500: oklch(61.178% 0.06887 144.579);
  --principale-600: oklch(53.511% 0.06887 144.579);
  --principale-700: oklch(45.844% 0.06887 144.579);
  --principale-800: oklch(29.062% 0.05518 149.494);
  --principale-900: oklch(22.062% 0.06887 1144.579);

  --blanc: oklch(100% 0.00011 271.152);
  --noir: oklch(0% 0 0);

  --secondaire-50: oklch(97.631% 0.01043 38.966);
  --secondaire-100: oklch(93.614% 0.02855 39.182);
  --secondaire-200: oklch(90.085% 0.03756 79.067);
  --secondaire-300: oklch(78.468% 0.09927 35.509);
  --secondaire-400: oklch(71.342% 0.13381 36.571);
  --secondaire-500: oklch(65.113% 0.15303 36.33);
  --secondaire-600: oklch(60.676% 0.10861 42.917);
  --secondaire-700: oklch(47.222% 0.14554 35.894);
  --secondaire-800: oklch(37.776% 0.14554 35.894);
  --secondaire-900: oklch(28.588% 0.11127 30.905);
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

@theme {
  --color-principale-50: var(--principale-50);
  --color-principale-100: var(--principale-100);
  --color-principale-200: var(--principale-200);
  --color-principale-300: var(--principale-300);
  --color-principale-400: var(--principale-400);
  --color-principale-500: var(--principale-500);
  --color-principale-600: var(--principale-600);
  --color-principale-700: var(--principale-700);
  --color-principale-800: var(--principale-800);
  --color-principale-900: var(--principale-900);

  --color-blanc: var(--blanc);
  --color-noir: var(--noir);

  --color-secondaire-50: var(--secondaire-50);
  --color-secondaire-100: var(--secondaire-100);
  --color-secondaire-200: var(--secondaire-200);
  --color-secondaire-300: var(--secondaire-300);
  --color-secondaire-400: var(--secondaire-400);
  --color-secondaire-500: var(--secondaire-500);
  --color-secondaire-600: var(--secondaire-600);
  --color-secondaire-700: var(--secondaire-700);
  --color-secondaire-800: var(--secondaire-800);
  --color-secondaire-900: var(--secondaire-900);
}

body {
  font-family: Nunito, Helvetica, sans-serif;
}

.align-center {
  @apply max-w-7xl mx-auto px-8;
}
.test {
  @apply border-solid border-2 border-black;
}

.food-motif {
  background-image: url("/patterns/food.svg");
  background-repeat: repeat;
  background-size: 200px;
}

@layer utilities {
  .animate-scroll {
    animation: reveal linear;
    animation-timeline: view(block);
    animation-range: cover 0% contain 50%;
  }
  .animate-scroll-reveal-up {
    animation: revealUp linear;
    animation-timeline: view(block);
    animation-range: cover 0% contain 50%;
  }

  @keyframes reveal {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes revealUp {
    from {
      transform: translateY(230%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

.font-special {
  /* font-family: Merienda, cursive; */
  font-family: "active-one";
}

.bg-heroSection {
  background-image: url("/images/bg-HeroSection.jpg");
  background-size: cover;
  background-position: bottom;
}
.bg-CardSection {
  background-image: url("/patterns/food2.svg");
  background-repeat: repeat;
  background-color: rgba(245, 254, 248, 0.762);
  background-blend-mode: lighten;
  background-size: 550px;
}
.bg-pricing {
  background-image: url("/patterns/pricing-01.svg");
  background-repeat: repeat;
  background-size: 550px;
}
.bg-meal {
  background-image: url("/images/meal.jpg");
  background-size: contain;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
